@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url(fundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100%;
    width: 100%; 
    max-width: 650px;
    background-color: transparent;
    padding: 100px;
    border: 1px solid white;
    backdrop-filter: blur(10px);
}

.text {
    color: white;
}

